-e git+https://github.com/umd-mfri/django-allauth-cas.git@4aa67aa8de4f84c73c3c53b0e7e80c09a313fcc3#egg=django_allauth_cas
Babel==2.11.0
Django==4.1.4
EditorConfig==0.12.3
Faker==15.3.4
GitPython==3.1.29
Jinja2==3.1.2
MarkupPy==1.14
MarkupSafe==2.1.1
Pillow==9.3.0
PyJWT==2.6.0
PyMuPDF==1.21.0
PyYAML==6.0
Pygments==2.13.0
Sphinx==5.3.0
Unidecode==1.3.6
Willow==1.4.1
XlsxWriter==3.0.3
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
anyascii==0.3.1
appdirs==1.4.4
argcomplete==2.0.0
arrow==1.2.3
asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.1
bandit==1.7.4
beautifulsoup4==4.11.1
binaryornot==0.4.4
black==22.12.0
boto3==1.26.37
botocore==1.29.37
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
codecov==2.1.12
colorama==0.4.6
confusable-homoglyphs==3.2.0
cookiecutter==2.1.1
coreapi==2.3.3
coreschema==0.0.4
coverage==7.0.1
crispy-bootstrap5==0.7
cryptography==38.0.4
css-inline==0.8.6
cssbeautifier==1.14.7
defusedxml==0.7.1
diff-match-patch==20200713
distlib==0.3.6
dj-database-url==1.2.0
dj-rest-auth==2.2.5
dj-stripe==2.7.3
django-advanced-filters==2.0.0
django-after-response==0.2.2
django-allauth==0.51.0
django-amazon-ses==4.0.1
django-appconf==1.0.5
django-braces==1.15.0
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-countries==7.5
django-cprofile-middleware==1.0.5
django-crispy-forms==1.14.0
django-filter==22.1
django-honeypot==1.0.3
django-imagekit==4.1.0
django-import-export==3.0.2
django-ipware==4.0.2
django-js-asset==2.0.0
django-modelcluster==6.0
django-permissionedforms==0.1
django-recaptcha==3.0.0
django-recurrence==1.11.1
django-registration==3.3
django-rest-knox==4.2.0
django-rest-swagger==2.2.0
django-richtextfield==1.6.1
django-silk==5.0.2
django-social-share==2.3.0
django-storages==1.13.2
django-tables2==2.5.0
django-taggit==3.1.0
django-test-plus==2.2.1
django-timezone-field==5.0
django-treebeard==4.5.1
django_debug_toolbar==3.8.1
djangoql==0.17.1
djangorestframework-link-header-pagination==0.1.1
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
djlint==1.19.9
docutils==0.17.1
draftjs-exporter==2.1.7
drf-yasg==1.21.4
epdb==0.15.1
et-xmlfile==1.1.0
factory-boy==3.2.1
filelock==3.9.0
flake8==6.0.0
frozenlist==1.3.3
geographiclib==2.0
geoip2==4.6.0
geopy==2.3.0
gitdb==4.0.10
gprof2dot==2022.7.29
gunicorn==20.1.0
html-sanitizer==1.9.3
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
icalendar==5.0.3
idna==3.4
imagesize==1.4.1
importlib-metadata==5.2.0
inflection==0.5.1
isort==5.11.4
itypes==1.2.0
jinja2-time==0.2.0
jmespath==1.0.1
jsbeautifier==1.14.7
jsonfield==3.1.0
l18n==2021.3
lxml==4.9.2
mailchimp-marketing==3.0.80
mailchimp-transactional==1.0.50
maxminddb==2.2.0
mccabe==0.7.0
multidict==6.0.4
mypy-extensions==0.4.3
mysqlclient==2.1.1
numpy==1.24.1
oauthlib==3.2.2
odfpy==1.4.1
openapi-codec==1.3.2
openpyxl==3.0.10
packaging==22.0
pathspec==0.10.3
pbr==5.11.0
pilkit==2.0
pipenv==2022.12.19
pipx==1.1.0
platformdirs==2.6.0
ply==3.11
poyo==0.5.0
protobuf==4.21.12
psycopg2-binary==2.9.5
py-spy==0.3.14
pyOpenSSL==22.1.0
pycodestyle==2.10.0
pycparser==2.21
pydiscourse==1.3.0
pyflakes==3.0.1
pyparsing==3.0.9
python-cas==1.6.0
python-dateutil==2.8.2
python-slugify==7.0.0
python-webpack-boilerplate==1.0.1
python3-openid==3.2.0
pytube==12.1.2
pytz==2022.7
regex==2022.10.31
requests-oauthlib==1.3.1
requests==2.28.1
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.21
s3transfer==0.6.0
sentry-sdk==1.12.1
simplejson==3.18.0
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
social-auth-app-django-zeitcaster==4.0.0
social-auth-core==4.3.0
soupsieve==2.3.2.post1
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-inlinesyntaxhighlight==0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
sqlparse==0.4.3
stevedore==4.1.1
stripe==4.2.0
tablib==3.3.0
telepath==0.3
text-unidecode==1.3
tmp==0.0.2
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
twitter==1.19.6
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.13
userpath==1.8.0
virtualenv-clone==0.5.7
virtualenv==20.17.1
wagtail-django-recaptcha==1.0
wagtail-experiments==0.21
wagtail-seo==2.3.0
wagtail-transfer==0.8.5
wagtail==4.1.1
wagtailstreamforms==3.21
webencodings==0.5.1
whitenoise==6.2.0
xlrd==2.0.1
xlwt==1.3.0
yarl==1.8.2
zipp==3.11.0
